nav.nav.nav-controls-main
	ul
		li
			a(href="")
				img(src="http://placehold.it/40x40", alt="")
		li
			a(href="")
				img(src="http://placehold.it/40x40", alt="")
		li.tipit-button
			a(href="")
				img(src="http://placehold.it/50x60", alt="")
		li
			a(href="")
				img(src="http://placehold.it/40x40", alt="")
		li
			a(href="")
				img(src="http://placehold.it/40x40", alt="")