header.header-main

	div.action-left
		a(href="")
			img(src="http://placehold.it/25x25", alt="")

	div.action-right
		a(href="")
			img(src="http://placehold.it/25x25", alt="")

	div.action-center

		input.form-input(type="text")

