div.tip
	div.tip-box
		.tip-image
			img(src="http://placehold.it/40x40", alt="")

		.tip-content
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, explicabo.
		.tip-stars
			a(href="")
				img(src="http://placehold.it/35x35", alt="")
			span 30