extends layout

block content
	.wrap.wrap-timeline
		.container
			.content
				include _header.jade
				.tips
					include _tip.jade
					include _tip.jade
					include _tip.jade
					include _tip.jade
					include _tip.jade
				include _controls.jade