.nav

	&.nav-controls-main
		position relative
		z-index 1
		background-color #24AA68

		clearfix()

		ul
			padding 0
			margin 0

			> li
				list-style none
				float left
				width 20%
				display block
				text-align center

				> a
					display block
					text-decoration none
					padding-top 2px
					padding-bottom 2px

				&.tipit-button
					margin-top -20px

					> a
						position relative


